<footer class="footer footer-dark">
  <div class="d-flex justify-content-between px-5">
    <div>ALL RIGHTS RESERVED BRS STUDIO 2022</div>
    <div>
      <img src="/images/footer-logo.png" alt="logo" />
    </div>
  </div>
</footer>